.inspirations {
  padding-top: 230px;
  padding-bottom: 140px;
  border-bottom: 1px solid rgba(179, 179, 179, 0.5);
}

.inspirations-container {
  display: flex;
  flex-direction: column;
}

.inspirations-title {
  margin: 0 auto;
  margin-bottom: 24px;
}

.inspirations-descr {
  margin: 0 auto;  
  text-align: center;
  margin-bottom: 96px;
  max-width: 640px;
  font-family: 'SFCompactText';
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #788692;
}

.grid {
  display: grid;
}

.inspirations-list {
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(500px, auto);
}

.inspirations-item {
  background-color: #e3e3e3;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px;
  padding-bottom: 48px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.inspirations-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.461617) 100%);
}

.inspirations-item-big {
  grid-column: 2 span;
}

.inspirations-item-bigheight {
  height: 710px;
}

.inspirations-item-1 {
  background-image: url(../../images/insp-1.jpg);
}

.inspirations-item-2 {
  background-image: url(../../images/insp-2.jpg);
}

.inspirations-item-3 {
  background-image: url(../../images/insp-3.jpg);
}

.inspirations-item-4 {
  background-image: url(../../images/insp-4.jpg);
}

.inspirations-item-5 {
  background-image: url(../../images/insp-5.jpg);
}

.inspirations-item-6 {
  background-image: url(../../images/insp-6.jpg);
}

.inspirations-item-7 {
  background-image: url(../../images/insp-7.jpg);
}

.inspirations-item-content {
  position: relative;
  z-index: 5;
}

.inspirations-category {
  display: block;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.inspirations-item-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 22px;
}

.inspirations-people {
  display: flex;
  position: relative;
  z-index: 5;
}

.inspirations-people-item {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  background-color: #fff;
}

.inspirations-people-item-link {
  display: block;
  width: 100%;
  height: 100%;
}

.inspirations-people-item-link img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inspirations-people-item:not(:first-child) {
  margin-left: -16px;
}

.insp-play {
  position: absolute;
  left: 40px;
  top: 40px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insp-play svg {
  stroke: #fff;
  fill: none;
  position: relative;
  left: 1px;
}

.inspirations-item-5 {
  align-items: center;
}

.inspirations-item-5::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 28, 36, 0.9);
}

.inspirations-item-quote-container {
  z-index: 5;
  margin: auto;
  max-width: 350px;
}

.inspirations-item-quote-author {
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.inspirations-item-quote {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  margin: auto;
}